

.fazlanList .listBox{

    height:100px;
    width:100%;
    background-color: #ffffffb7;
    margin: 0px 0px 10px 0px;
    color:black
}

.fazlanList .listBox:hover{
    margin:6px;
    width:100%;
}

.fazlanList .listImage{
    margin-top: 10px;
    height:80px;
    width:80px; 
    border-radius: 50px
}

.fazlanList .searchBar{
    height: 50px;
    width:50%;
    font-size: 30px;
    color:Gray;
    margin:10px 0px -20px 10%
}

.fazlanList .boxAd{
   height:900px;
   width:20%;
   background-color: rgba(255, 255, 255, 0.521);
   margin:50px 0px 0px 30px;
}

.fazlanList .relatedImages{
    height:200px;
    width:130px;  
    border:5px solid white ;
    border-radius: 5px
 }

 .fazlanList  .relatedImages:hover{
    border:5px solid rgb(74, 107, 255) ;
 }

 .fazlanList .relatedImageone{
    margin: 0px 20px 20px 0px
}

.fazlanList .relatedImageTwo{
    margin: 0px 0px 20px 0px
    
}

.fazlanList .relatedImageTree{
    margin: 0px 20px 0px 0px
   
}   

.fazlanList .relatedImageFour{
    margin: 0px 0px 0px 0px
    
}

.fazlanList .path{
    color:white;
    margin:0px 0px 50px 0px;
    font-size: 25px
}

.fazlanList .listName{
    font-size:22px;
    margin:-50px 0px 0px 100px;
    
}

@media only screen and (max-width: 500px) {
    
    .fazlanList .listBox{
        height:80px;
        width:100%;
        background-color: #ffffffea;
        margin: -0px 0px 10px -0px;
        color:black;
    }
    
    .fazlanList .listBox:hover{
        
    }

    .fazlanList .listBox :hover{
        background-color: red;

    }

    .fazlanList .listImage {
        height: 65px;
        width: 65px; 
        border-radius: 50px;
        margin: 14px 0px 0px -10px;
        border: 1px solid black
    }

    .fazlanList .boxAd{
        background-color:transparent;
        color:transparent;
        border:transparent;
        height:0px;
    }
 
    .fazlanList  .searchBar{
        height: 50px;
        width:100%;
        font-size: 30px;
        color:Gray;
        margin:0px 0px 0px 0px
    } 

    .fazlanList .path{
        color:white;
        margin:0px 0px 30px 0px;
        font-size: 20px
    }
}