.fazlanMain .downloadImage{
    height:450px;
    width:296px;
    border: 5px solid white;
    border-radius: 5px;
    margin-top:20px
}

.fazlanMain .downloadButton{
    width:200px;
    height:50px;
    font-size: 25px
}

.fazlanMain .downloadButtonAd{
    width:200px;
    height:50px;
    font-size: 25px
}

.fazlanMain .headerText{
    font-size: 80px;
    font-weight: 50px
}

.fazlanMain .Stars{
    font-size:30px;
    width:35px;
}

.fazlanMain .starChecked{
    color:gold;
}

.fazlanMain .allStar{
    margin: 20px 80px 0px 0px
}

.fazlanMain .views{
    font-size:20px;
    width: 20px;
    margin:20px 0px 0px 0px;
}

.fazlanMain .torentAD{
    background-color: rgba(0, 0, 0, 0.801);
    border:1px solid rgb(46, 46, 182);
    border-radius: 10px;
    padding:20px;
    margin:60px 0px 0px 0px

}


.fazlanMain .markerAd{
    background-color:red;
    color:yellow;
}

.fazlanMain .relatedImages{
    height:200px;
    width:130px;  
    border:5px solid white ;
    border-radius: 5px
 }

 .fazlanMain  .relatedImages:hover{
    border:5px solid rgb(74, 107, 255) ;
 }

 .fazlanMain .relatedImageone{
    margin: 0px 20px 20px 0px
}

.fazlanMain .relatedImageTwo{
    margin: 0px 0px 20px 0px
    
}

.fazlanMain .relatedImageTree{
    margin: 0px 20px 0px 0px
   
}   

.fazlanMain .relatedImageFour{
    margin: 0px 0px 0px 0px
    
}

.fazlanMain .movieDescription{
    background-color: rgba(0, 0, 0, 0.575);
    color: #ffffff;
    padding: 30px;
    margin: 20px 0px 20px 0px;
    font-size: 20px;

}


@media only screen and (max-width: 500px) {

    .fazlanMain .downloadImage{
        height:200px;
        width:150px;
        border: 5px solid white;
        border-radius: 5px;
        margin-top:20px
    }
    
    .fazlanMain .downloadButton{
        width:150px;
        height:45px;
        font-size: 15px;
        margin: -20px 0px 0px 160px;
    }

    .fazlanMain .downloadButtonAd{
        width:0px;
        height:0px;
        background-color: transparent;
        border:transparent
    }
    
    .fazlanMain .headerText{
        font-size: 25px;
        font-weight: 30px;
        margin: -190px 0px 30px 160px;
    }
    
    .fazlanMain .Stars{
        font-size:15px;
        width:20px;
    }
    
    .fazlanMain .starChecked{
        color:gold;
    }
    
    .fazlanMain .allStar{
        margin: 15px 80px 0px 160px;
        width: 100px;
    }
    
    .fazlanMain .views{
        font-size:15px;
        width: 20px;
        margin:15px 0px 0px 160px;
    }
    
    .fazlanMain .torentAD{
        -webkit-text-fill-color: transparent;  
        background-color: transparent;
        border:1px solid transparent;
        height: 0px;
          
    }

    .fazlanMain .markerAd{
        background-color:transparent;
        color:transparent;
    }
    
    .fazlanMain .relatedImages{
        height:200px;
        width:130px;  
        border:5px solid white ;
        border-radius: 5px
     }
    
     .fazlanMain  .relatedImages:hover{
        border:5px solid rgb(74, 107, 255) ;
     }
    
     .fazlanMain .relatedImageone{
        margin: 0px 20px 20px 0px
    }
    
    .fazlanMain .relatedImageTwo{
        margin: 0px 0px 20px 0px
        
    }
    
    .fazlanMain .relatedImageTree{
        margin: 0px 20px 20px 0px
       
    }   
    
    .fazlanMain .relatedImageFour{
        margin: 0px 0px 20px 0px
        
    }
    
    .fazlanMain .movieDescription{
        background-color: rgba(0, 0, 0, 0.575);
        color: #ffffff;
        padding: 30px;
        margin: -50px 0px 20px 0px;
        font-size: 20px;
    
    }
    

}